@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=Quicksand:wght@400;700&family=Shantell+Sans:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box; 
}
body {
    height: 100px;
    font-family: 'Quicksand', cursive;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header .navbar-container {
    display: inline;
    width: 100%;
    
}
label:before {
    position: absolute;
    content: "";
    width : 45px;
    height: 20px;
    right: 20px;
    top: 250px;
    border: 2px #FFEFD6;
    border-radius: 20px;
    cursor: pointer;
    background: black;
    transition: 0.5s;
}
label.active:before{
    left: 10px;
    background: white;
}
body.night{
    background: black;
    color: white;
}
.above {
    padding: 80px;
    background-color: #3A8891;
    text-align: center;
    font-size: 20px;
    color: white;
}
.navbar-container .nav-list {
    background-color: #0E5E6F;
    padding: 2px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
}
.navbar-container .nav-list ul {
    padding-inline: 4rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #FFEFD6;
    background-color: #0E5E6F;
    
}
.navbar-container .nav-list li{
    list-style-type: none;
}
.navbar-container .nav-list a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 2rem 2rem;
}
.navbar-container .nav-list li a:hover {
    background-color: white;
    color: #0E5E6F;
}
main {
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
    padding: 1rem 2rem;
    flex: 1;
    display: flex;
    align-items: center;
}
main .content{
    flex: 1; 
    display: flex;
    align-items: center;
    
    /*gap: 2rem;*/
}
main .content-desc {
    flex: 1 1;
    
}
main .content-desc .title {
    font-family: 'Nunito', sans-serif;
}   
main .content-desc p {
    font-family: 'Nunito', sans-serif;
    font-style: oblique;
    text-align: justify;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
main .education-title {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #0E5E6F;
    transition: all .15s ease-in;
    text-align: center;
}
main .experience-title {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #0E5E6F;
    transition: all .15s ease-in;
    text-align: center;
}
main .content-desc button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #2d3e50;
    cursor: pointer;
    transition: all .15s ease-in;
}
main .content-desc button:hover {
    border: 3px solid #2D3E50;
    color: #2D3E50;
    background-color: transparent;
}
main .contact-title {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #0E5E6F;
    transition: all .15s ease-in;
    text-align: center;
}
#content {
    flex: 5;
    flex-flow: column nowrap; /*komponen display flex ; flex-direction flex-wrap */
    gap: 1rem 2rem;
}
aside {
    float: right;
    padding-left: 20px ;
 
}

.profile-title {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #0E5E6F;
    transition: all .15s ease-in;
    text-align: center;
}
@media screen and (max-width: 1200px) { 
    main {
      flex-flow: column nowrap;
    }
  
    main aside {
      align-self: center;
    }
  }
@media screen and (max-width: 768px) { /*media screen kurang dari 1000px*/
    main aside {
      align-self: stretch;
    }
  }
footer {
    padding: 20px;
      color: white;
      background-color: #3A8891;
      text-align: center;
      font-weight: bold;
}
footer .social-media ul {
    padding-inline: 4rem;
    display: flex;
    justify-content: center;
}
footer .social-media li {
    list-style-type: none;
}
footer .social-media li a {
    display: inline-block;
    padding: 1rem 1rem;
    color: #FFEFD6;
    background-color: #0E5E6F;
    border-radius: 1000px;
}
label {
    position: absolute;
    width : 45px;
    height: 20px;
    right: 20px;
    top: 20px;
    border: 2px #FFEFD6;
    border-radius: 2px;
}

